<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
        <title>پلتفرم ابری پاستا | سلام ابربازی</title>
    </head>
    <body>
        <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div id="main" class="fa absalign">
            <div id="title">سلام ابربازی!</div>
            <div id="description">من یک برنامه پایتون هستم که توسط پلتفرم ابری پاستا مستقر شده است.</div>
        </div>
        <div id="footer" class="fa absalign">
            <a href="https://paasta.ir">پاستا | راهکار ابری استقرار و توزیع نرم افزار</a>
        </div>
    </body>
</html>
